@page
@model IndexModel
@{
    ViewData["Title"] = "Főoldal";
}

<h1>Hello</h1>
<a class="btn btn-primary" asp-page="AddExpense">Új kiadás</a>

<h3>Tartozások</h3>
@foreach(var u in Model.Owings) {
    <p>
        @u.Key.Name
        <ul>
            @foreach(var o in u.Value) {
                <li>@o.User.Name: @o.Amount Ft (@o.Expenses) <a class="btn btn-primary" href="/ClearOwing/@u.Key.Id/@o.User.Id">Kiegyenlítés</a></li>
            }
        </ul>
    </p>
}
